
<h1>Турніри</h1>

{% if user.is_authenticated and user.role == 'ADMIN' %}
    <a href="{% url 'tournament_create' %}">
        <button>➕ Створити турнір</button>
    </a>
{% endif %}


<form method="get">
    <select name="status">
        <option value="">Всі</option>
        {% for value, label in statuses %}
            <option value="{{ value }}" {% if value == current_status %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Фільтр</button>
</form>

<hr>

{% for t in tournaments %}
    <div>
        <h3>
            <a href="{% url 'tournament_detail' t.id %}">
                {{ t.title }}
            </a>
        </h3>
        <p>Статус: {{ t.get_status_display }}</p>
        
        {% if user.is_authenticated %}
            {% if user.role == 'TEAM' %}
                <a href="{% url 'team_create' t.id %}">
                    <button>Створити команду</button>
                </a>
            {% endif %}
            
            {% if user.role == 'JURY' %}
                <a href="{% url 'jury_team_list' t.id %}">
                    <button>Переглянути команди</button>
                </a>
            {% endif %}
            
            <a href="{% url 'tournament_teams' t.id %}">
                <button>Список команд</button>
            </a>
        {% endif %}
    </div>
{% empty %}
    <p>Немає турнірів</p>
{% endfor %}


<div style="margin-bottom: 20px;">
    <a href="{% url 'home' %}" style="display: inline-block; padding: 10px 15px; background-color: #6c757d; color: white; text-decoration: none; border-radius: 5px;">
        ← Повернутися до головного меню
    </a>
</div>

